@charset "UTF-8";
main {
    min-width: 300px;
    max-width: 1300px;
    background-color: #ffffff;
    margin: auto;
    padding: 20px;
    box-shadow: 0px 0px 10px black;
    margin-bottom: 20px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
div.quadrado {
    border: 1px solid black;
    width: 409px;
    height: 230px;
    display: inline-block;
    border-radius: 5px;
    background-color: lightgrey;
    box-shadow: 0px 0px 5px black;
    margin-left: 15px;
}
div.quadrado2 {
    border: 1px solid black;
    width: 409px;
    height: 295px;
    display: inline-block;
    border-radius: 5px;
    background-color: lightgrey;
    box-shadow: 0px 0px 5px black;
    margin-left: 15px;
}
div#q1 {
    background-image: url(imagens/tratores/m5060e.png);
}
div#q2 {
    background-image: url(imagens/tratores/m5080e.png);
}
div#q3 {
    background-image: url(imagens/tratores/m5090e.png);
}
div#q4 {
    background-image: url(imagens/tratores/6100j.png);
}
div#q5 {
    background-image: url(imagens/tratores/m6115j.png);
}
div#q6 {
    background-image: url(imagens/tratores/m6135j.png);
}
main a {
    text-decoration: none;
    display: block;
    text-align: center;
    color: #172426;
}
main a:hover {
    text-shadow: 1px 1px 5px black;
}
main > h1 {
    margin-top: 30px;
    display: block;
    text-align: center;
}
main > p {
    display: block;
    text-align: center;
}