@charset "UTF-8";
.cont {
    width: 400px;
    text-align: center;
    display: block;
    margin: auto;
}
main {
    min-width: 300px;
    max-width: 1000px;
    background-color: #ffffff;
    margin: auto;
    padding: 20px;
    box-shadow: 0px 0px 10px black;
    margin-bottom: 20px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
aside {
    background-color: #475159;
    min-width: 300px;
    max-width: 1000px;
    margin: auto;
    padding: 20px;
    border-radius: 10px;
}
aside > ul {
    text-decoration: none;
    list-style-type: '\00A0\00A0\2714\00A0\00A0';
    list-style-position: inside;
    color: black;
}
aside a {
    text-decoration: none;
    color: black;
    font-size: 18px;
}
aside a:hover {
    text-shadow: 0px 5px 18px black;
    transition-duration: 0.5s;
}
aside > h2 {
    display: block;
    margin: auto;
    text-align: center;
    font-family: goodtime;
}
