@charset "UTF-8";
@font-face {
    font-family:goodtime;
    src: url(fontes/GOODTIME.TTF);
}
@font-face {
    font-family: nunito;
    src: url(fontes/Nunito-Regular.ttf);
}
* {
    margin: 0px;
    padding: 0px;
}
body {
    font-family: nunito;
    background-color: #A3B2BF;
}
header {
    background-color: #172426;
    min-height: 150px;
    text-align: center;
    padding-top: 40px;
    font-family: goodtime;
}
header > a {
    text-decoration: none;
    color: #F2A30F;
}
header > a:hover {
    color: #A65D05;
    transition-duration: 0.5s;
}
header > p {
    margin-top: 20px;
    font-size: 2em;
    color: #F2A30F;
}
header > h1 {
    text-shadow: 0px 5px 18px black;
    font-family: nunito;
}
nav {
    background-color: #172426;
    padding: 10px;
    box-shadow: 0px 2px 7px black;
    font-family: nunito;
    display: block;
    text-align: center;
}
nav > a {
    text-decoration: none;
    color: #F2A30F;
    margin-right: 50px;
}
nav > a:hover {
    color: #A65D05;
    transition-duration: 0.5s;
}
main p {
    margin: 15px 0px;
    text-align: justify;
    text-indent: 30px;
    line-height: 1em;
}
main h1 {
    color: #F2A30F;
    font-family: goodtime;
    text-align: center;
}
footer {
    color: #F2A30F;
    background-color: #172426 ;
    text-align: center;
    font-family: goodtime;
    font-size: 10px;
    padding: 10px;
}
div p {
    display: block;
    text-align: center;
}
