@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

:root { 
    --corTexto: #fff;
    --corMenuHeader: #252525;
    --corRoxaPrincipal: rgb(208, 65, 211);
    --corRoxaSecundaria: rgb(213, 126, 214);
    --corAmareloEscuro: #A65D05;
    --corTemp: #b9b3b3;
}
 
*,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--corTexto);
    font-family: 'Montserrat', sans-serif;
    scroll-behavior: smooth;
}

.header {
    top: 0;
    padding: 1rem;
    background-color: var(--corMenuHeader);
    font-size: 7pt;
    width: 100vw;
    position: fixed;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.header a {
    cursor: pointer;
}
.menu-hamburguer .line {
    width: 25px;
    height: 2px;
    background-color: var(--corTexto);
    margin-top: 5px;
}

.header .navegacao {
    display: none;
    cursor: pointer;
}

.header .navegacao.navegacao-escolhida {
    display: block;
    width: 100vw;
    height: 100vh;
    transition: 1s ease-in-out;
}

@keyframes FadeIn {
    from { opacity: 0; }
    to{ opacity: 1; }
}

.header .navegacao.navegacao-escolhida li {
    font-size: 20pt;
    list-style-type: none;
    text-align: center;
    margin: 1rem;
}

.header .navegacao.navegacao-escolhida a {
    transition: .5s;
}

.header .navegacao.navegacao-escolhida a:hover {
    color: var(--corRoxaPrincipal);
    text-shadow: 0px 0px 10px var(--corRoxaPrincipal); 
}

a {
    text-decoration: none;
}

main.main {
    padding-top: 3rem;
    overflow: hidden;
}

div#home,
div#search,
div#about, 
div#contact {
    width:100vw;
    height: 100vh;
    padding-top: 3.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--corTemp);
}

div#home {
    padding-top: 0;
}

div#home .homeContent {
    width: 100%;
    height: 100vh;
    background-image: url("images/fundo_images/pexels-pixabay-274937.jpg");
    margin-bottom: 7rem;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-size: cover;
    padding: .5rem;
}

div#home .homeContent h1,
div#home .homeContent p {
    color: var(--corMenuHeader);
    text-shadow: 0 0 .5rem #000;
}

div#search .mainApp {
    margin: 0 auto;
    padding: 1rem;
    width: 90vw;
    border-radius: 1rem;
    background-color: var(--corTexto);
}

div.search-films {
    margin: 0 auto;
    width: 80%;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    border-radius: 3rem;
}


div.search-films input {
    color: var(--corMenuHeader);
    padding: .3rem .5rem;
    border-radius: 1rem;
    border: 1px solid var(--corMenuHeader);
}

div.search-films button {
    color: var(--corMenuHeader);
    background-color: transparent;
    padding: .3rem;
    font-size: 9pt;
    border: 1px solid var(--corMenuHeader);
    border-radius: 1rem;
    cursor: pointer;
}

div.mainApp .film-information {
    width: 100%;
    height: auto;
    max-height: 90vh;
    margin: 0 auto;
    padding: 0rem;
    font-size: 10pt;
}

div.mainApp .film-information img {
    border-radius: .5rem;
    width: 85%;
    margin: 0 1rem;
    border: 1px solid black;
}

div.mainApp .film-information .lancFilm {
    font-size: 8.5pt;
    margin: .2rem 0rem 0rem .5rem;
}

div.mainApp .film-information .sinoFilm {
    margin: .3rem;
    font-size: 7pt;
}

div.mainApp .film-information p,
div.mainApp .film-information h1,
div.mainApp .film-information h2 {
    color: var(--corMenuHeader);
    text-align: center;
}

div#about {
    background-color: var(--corTemp);
}

section.profile {
    margin: 0 auto;
    width: 90vw;
    padding: 1rem;
    background-color: var(--corTexto);
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
}

section.profile .image {
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
}

div.bioUser,
div.conteudo p,
div.conteudo h2 {
    padding: .3rem;
    color: var(--corMenuHeader);
}

div.bioUser {
    background-color: var(--corRoxaSecundaria);
    color: var(--corMenuHeader);
    border-radius: 1rem; 
}

div.linksContact {
    margin: 0 auto;
    padding: 1rem;
    display: flex;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    transition: .5s;
}

form.form {
    width: 90vw;
    margin: 0 1rem;
    padding: 1rem;
    background-color: var(--corTexto);
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    align-items: center;
    border-radius: .5rem;
    color: var(--corMenuHeader);
}

div.localizacao_user select,
div.localizacao_user input,
div.localizacao_user label, 
form.form .localizacao_user option,
form.form label {
    color: var(--corMenuHeader);
}

#textArea,
form.form .localizacao_user select,
form.form input {
    padding: .3rem;
    border-radius: .3rem;
    border: 1px solid black;
}

form.form div.notas,
form.form .localizacao_user,
form.form .area,
form.form .numero_contato input,
form.form .numero_contato,
form.form .email_user input,
form.form .email_user,
form.form .nome_user input,
form.form .nome_user {
    width: 100%;
    margin-bottom: .5rem;
    color: var(--corMenuHeader);
}


label {
    width: 100%;    
    display: block;
}   

form.form .localizacao_user {
    display: flex;
    flex-flow: row wrap;;
    margin-bottom: .5rem;
    color: var(--corMenuHeader);
} 

form.form .localizacao_user select,
form.form .localizacao_user input {
    width: 48%;
    flex-grow: 1;
    margin: .2rem .125rem;
}

form.form .localizacao_user input:nth-child(2) {
    width: 100%;
    flex-grow: 2;
}

#textArea {
    width: 100%;
    color: var(--corMenuHeader);
}

form.form button {
    width: 100%;
    padding: .5rem;
    background-color: var(--corRoxaPrincipal);
    border: none;
    border-radius: .3rem;
    margin-top: .5rem;
}

div.paraCima {
    width: 3rem;
    height: 3rem;
    background-color: var(--corRoxaSecundaria);
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: FadeIn 1s ease; 
    opacity: .9;
}

@media screen and (min-width: 375px) {
    div.mainApp .film-information img {
        width: 60%;
        margin: 0 3.5rem;
    }
}

@media screen and (min-width: 768px) {
    .menu-hamburguer {
        display: none;
    }
    
    #navegacao-Id {
        display: block;
    }

    #navegacao-Id ul {
        display: flex;
        gap: 25px;
        font-size: 10pt;
        margin: .1rem 1.5rem;
    }

    #navegacao-Id li {
        list-style-type: none;
    }

    #navegacao-Id li a {
        transition: .3s ease-in-out;
    }

    #navegacao-Id li a:hover {
        color: var(--corRoxaPrincipal);
        text-shadow: 0px 0px 15px var(--corRoxaPrincipal);
    }

    div.search-films input {
        width: 95%;
    }

    form.form button {
        width: 5rem;
    }
    #segundo_nome,
    #primeiro_nome {
        display: inline;
        width: 49.65%;
    }

    div.mainApp .film-information .informations-film {
        display: grid;
        grid-template-columns: 1fr 2fr;
    }
    
    div.mainApp .film-information .informations-film img {
        grid-column-start: 1;
        margin: 1rem .5rem;
        width: 95%;
    }

    div.mainApp .film-information .informations-film p {
        text-align: left;
        margin: 1.5rem 1rem;
    }

    div.mainApp .film-information .informations-film .sinoFilm {
        font-size: 9pt;
    }
    div.mainApp .film-information .informations-film .lancFilm {
        font-size: 10pt;
    }
}

@media screen and (min-width: 768px) {
    div#home .homeContent {
        align-items: flex-start;
    } 
    
    div#home .homeContent h1 {
        font-size: 50pt;
    }

    div#home .homeContent p {
        font-size: 15pt;
    }
}

@media screen and (min-width: 1440px) {
    .header h1 {
        font-size: 25pt;
    }

    #navegacao-Id ul {
        font-size: 20pt;
    }

    div#home .homeContent h1 {
        font-size: 70pt;
    }

    div#home .homeContent p {
        font-size: 20pt;
    }

    form.form {
        width: 90%;
    }

    div.mainApp .film-information .informations-film .sinoFilm {
        font-size: 15pt;
    }
    div.mainApp .film-information .informations-film .lancFilm {
        font-size: 18pt;
    }
}